
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Navigation - mobile first*/



*, .nav-bar {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

.nav-bar {
    background: #333;
    position: fixed;
    width: 100%;
    height: 3.5rem;
    z-index: 1;
    /* Using rem units so user can update base font size */
}

.nav-bar > ul {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
}

.nav-bar > ul > li {
    display: inline-block;
    /* inline elements go horizontally, but need inline-block to be able to assign width and height... WE THINK (double check this hah) */
    width: 4em;
    text-align: center;
}

.active {
    border-bottom: 2px solid white;
}

.nav-bar a,
.nav-bar a:visited,
.nav-bar a:active {
    color: #d7e3f5;
    text-decoration: none;
    padding: 0.1em;
}

.nav-bar a:hover,
.nav-bar a:focus {
    color: #99bafe;
    background-color:#6d6d6d;
}

#nav-logo {
    display: none;
}

@media screen and (min-width: 400px) {

/* Hide logo until screen width > 400px */

   /* NAV LOGO */
#nav-logo {
    display: block;
    border-radius: 50%;
    /* circle */
    border: 3px solid gainsboro;
    height: 15vmin;
    width: 15vmin;
    position: absolute;
    top: 2vw;
    left: 2vw;
    overflow: hidden;
    /* stop image appearing outside of this circular logo holder */
}

#nav-logo img {
    height: 100%;
    margin: 0 auto;
    margin-left: -1vmin;
    /* centring image as the image is landscape (width is 2x height = 30vmin) so needs to be moved -7.5vmin */
}

}

/* A11Y */

.visually-hidden a { 
    /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.visually-hidden :focus,
.visually-hidden input:focus,
.visually-hidden button:focus { 
    position:static !important; 
    display: inline-block;
    overflow: visible;
    width:auto; height:auto;  
    font-size: 1.5rem;
    color: pink;
    clip: rect(20px, 20px, 20px, 20px);
    z-index: 2;
    /* This should be refactored and commented properly before going live. E.g. z-index likely no longer needed */
}

.drop-shadow {
    box-shadow: -5px 5px 15px rgba(0,0,0,0.7);
}


/*main*/
main {
    font-size: 1.5rem;
}

section {
    /*border: 1px solid red;*/
    padding-top: 3.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}


h1 {
    font-size: 3rem;
    /* margin: 100px auto 50px auto; */
    top: 10vh;
    text-align: center;
    /* border: 1px solid blue; */
    font-weight: 700;
    height: 50vh;
    /* padding-top: calc((100%-3rem)/2); */
}

#about > p {
    text-align: center;
    height: 50vh;
}

.centre-vertically {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 2.5rem;
    text-align: center;

}

h3 {
    font-size: 2.2rem;
    width: 50vw;
    margin-right: 20%;
    margin-left: 5%;
    text-align: center;
    padding-bottom: 5%;
    font-weight: 700;
    /*border: 1px solid gold;*/
}



p {
    font-size: 1.25rem;
}

#about {
    background-color: #73b3e6;
    /* padding-top: 5.5rem;
    padding-bottom: 2rem; */
    height: 100vh;
}

#team {
    background-color: lightpink;
}

#team a {
    transition: 0.3s;
}

#team a:focus,
#team a:hover {
    outline: none;
    transform: rotate(0.05turn);
}

.member {
    /*border: 1px solid pink;*/
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.memberpicture {
    height: 50vw;
    /* height: calc(45vw - 2.5vh - 20px); */
    width: auto;
    margin: 0 5% 0 5%;
    display: inline-block;
}

.memberlogo {
    height: auto;
    width: 80%;
    /*display: flex;*/
    padding: 10%;
    filter: invert(100%) brightness(75%);
    margin: 3px;
}

a:focus > .memberlogo,
a:hover > .memberlogo {
    filter: invert(100%);
}

.logonav {
    width: calc(20% - 2px);
    height: 50vw;
    /*border: 1px solid green;*/
    position: inline;
    float: right;
    display: flex;
    flex-direction: column;
    /* padding-top: 10%; */
    /* padding-bottom: 10%; */
}

/* Contact form */
#contact {
    height: 101vh;
}

#contact-form {
    margin: 2rem auto 0 auto;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

textarea {
    height: 200px;
}

input:focus, textarea:focus {
    background: pink;
    outline: none;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover,
input[type=submit]:focus {
    background-color: #094718;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/*need to add media queries*/


/* NAV MEDIA QUERIES - for width OVER 600px (i.e. "non-mobile") */
/* May want to update media query to REM units */

@media screen and (min-width: 680px) {
    /* Screen res wider than 680px */
    .nav-bar {
        min-width: 10em;
        width: 20vw;
        height: 95vh;
        right: 2.5vh;
        top: 2.5vh;
    }
    .nav-bar > ul {
        width: 100%;
        margin-right: 0;
        /* remove margin that puts a space to the right of menu items in mobile view */
        margin-top: calc(50vh - 4.5em);
        /* vertically centered by calculating 50% of parent element height minus 50% of element height */
        /* 4.5em calculated by halving the height of the nav text's (.nav-bar > ul > li) 3 list items (height 2em each) and 3 padding top (1em each) = 9em */
    }
    .nav-bar > ul > li {
        display: block;
        margin: 0 auto 0 auto;
        height: 2em;
        padding-top: 1em;
    }
    #nav-logo {
        height: 20vmin;
        width: 20vmin;
        left: -10vmin;
        /* top: 7vmin; */
        top: calc(25vh - 3rem - 10vmin)
        /* centred the logo between top of page (top of nav) and the first text item (top of ul, ignoring padding). Complex, but FYI: Height between top of nav bar and top of text is 50vh - 4em (which is 6rem). To centre the logo, its top position must be half of this height, minus half its own height (20vmin/2) */
    }

    #nav-logo img {
        margin-left: -1.29vmin;
    }

    @media screen and (max-height: 380px) {
        #nav-logo {
            display: none;
            /* For now, we're hiding the logo when the window height is prohibitively low */
        }
    }

    /* Changing section/content to fit with nav for desktop/landscape */

    section {
        padding-right: calc(20vw + 2.5vh + 20px);
    }

    h1 {
        max-width: calc(100vw - 15rem);
    }

    #about > p {
        max-width: calc(100vw - 15rem);
    }

    /*for main member img resize*/
    .memberpicture {
        height: calc(45vw - 2.5vh - 20px);
    }
}
