/*nav*/





/*main*/
main {
    font-size: 1rem;
}
section {
    /*border: 1px solid red;*/
    padding: 10%;
}



h1 {
    font-size: 3rem;
    margin: 100px auto 50px auto;
    text-align: center;
   /* border: 1px solid blue;*/
    
}

h3 {
    font-size: 2rem;
    width: 80%;
    text-align: center;
    /*border: 1px solid gold;*/
}

p {
    font-size: 1.25rem;
}
#about {
    background-color: #73b3e6;
}
#team {
    background-color: lightpink;
}

article {
    /*border: 1px solid pink;*/
    width: 100%;
    margin-top: 10%;
   
}

.picture {
    height: auto;
    width: 70%;
    margin: 5%;
    display: inline-block;
}

.logo {
    height: auto;
    width: 80%;
    /*display: flex;*/
    padding: 10%;
   
}

article nav {
    width: calc(20% - 2px);
    height: auto;
    /*border: 1px solid green;*/
    position: inline;
    float: right;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
   


}