/* Navigation */

.nav-bar {
    background: #333;
    position: fixed;
    width: 100%;
    height: 3.5rem;
}

.nav-bar > ul {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.nav-bar > ul > li {
    display: inline-block;
    font-family: sans-serif;
    width: 5em;
    text-align: center;
}

.nav-bar a,
.nav-bar a:visited,
.nav-bar a:active {
    color: #d7e3f5;
    text-decoration: none;
    padding: 0.1em;
}

.nav-bar a:hover,
.nav-bar a:focus {
    color: #99bafe;
    background-color:#6d6d6d;
}



/* NAV LOGO */
#logo {
    border-radius: 50%;
    border: 3px solid gainsboro;
    height: 20vmin;
    width: 20vmin;
    position: absolute;
    top: 3px;
    left: 8px;
    overflow: hidden;
}

#logo img {
    height: 100%;
    margin: 0 auto;
    margin-left: -10vmin;
}

/* A11Y */

.visually-hidden a { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.visually-hidden :focus,
.visually-hidden input:focus,
.visually-hidden button:focus { 
    position:static !important; 
    display: inline-block;
    overflow: visible;
    width:auto; height:auto;  
    font-size: 1.5rem;
    color: pink;
    clip: rect(20px, 20px, 20px, 20px);
    z-index: 2;
}



/* NAV MEDIA QUERIES */

@media screen and (min-width: 600px) {
    .nav-bar {
        min-width: 10em;
        width: 20vw;
        height: 100%;
        right: 0;
        top: 0;
    }
    .nav-bar > ul {
        width: 100%;
        margin-top: calc(50vh - 4.5em);
        /* vertically centered by calculating 50% of viewport height minus 50% of element height */
    }
    .nav-bar > ul > li {
        display: block;
        margin: 0 auto 0 auto;
        height: 2em;
        padding-top: 1em;
    }
    #logo {
        left: -10vmin;
        top: 7vmin;
    }
}

/* Main */